[submodule "cineast-openapi"]
	path = cineast-openapi
	url = https://github.com/SamuelBoerlin/cineast.git
	branch = multi-module-openapi-support
[submodule "spark-swagger"]
	path = spark-swagger
	url = https://github.com/SamuelBoerlin/spark-swagger.git
[submodule "c# implementation/ObjLoader"]
	path = "c# implementation/ObjLoader"
	url = https://github.com/chrisjansson/ObjLoader.git
